@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*font-family: 'Inria Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/*font-family: 'Jua', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*font-family: 'Inter', sans-serif; */

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inria Serif', serif;
    background-color: #1F1F1F;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #C4EDF0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 4rem;
    width: 31.25rem;
    height: 44.375rem;
    margin-bottom: 4rem;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.search-bar {
    width: 20.625rem;
    height: 3.125rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: #E6FEFF;
    border: 1px solid #ffffff;
    transition: ease-in-out 0.3s;
    border-radius: 6rem;
    padding-left: 2rem;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #E6FEFF;
    border-radius: 100%;
    border: 1px solid#ffffff;
    transition: ease-in-out 0.3s;
}

.search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.search-button:hover {
    background: #bacdcd;
    border: 1px solid #9BB9BA;
}

.search-bar:focus {
    outline: none;
    border: 1px solid #9BB9BA;
}

.weather-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9F3F5;
    border-radius: 0.9375rem;
    margin-top: 2rem;
    width: 27.8rem;
    height: 18.75rem;
}

.location {
    color: #000;
    font-family: Inter;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    opacity: none;
}

.weather-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    width: 9.375rem;
    height: 7.50731rem;
}

.weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    color: #000;
    font-family: Jua;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hour {
    color: #000;
    font-family: "Inria Serif";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.temperature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temperature {
    color: #000;
    font-family: Jua;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.temp-readings {
    color: #000;
    font-family: "Inria Serif";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.875rem;
    height: 3.375rem;
    color: #000;
    text-align: center;
    font-family: Jua;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}